
### Firebase ###
.idea
**/node_modules/*
**/.firebaserc

### Firebase Patch ###
.runtimeconfig.json
.firebase/


## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM


.build/



### SwiftPM ###
Packages
xcuserdata
*.xcodeproj


### Xcode ###
*.plist
*.entitlements
*.pdf
*.zip
*.DS_Store
*.DS_Store?

*.mobileprovision
*.certSigningRequest
*.p8
*.p16
*.cer
*.xcconfig